body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(photo.avif);
}
h3 {
  font-size: 50px;
  text-align: center;
  color: azure;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");
.all {
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
}

.button:hover {
  transition: 1000ms;
  padding: 10px 70px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: solid 2px #0066cc;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border: 5px solid black;
  height: 270px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 800px; /* adjust as needed */
  margin: 0 auto; /* centers horizontally */

  /* grid-template-columns: repeat(9, 30px);
  grid-template-rows: repeat(9, 30px);
  grid-auto-rows: 270px;
  grid-auto-flow: dense; */
}
.grid div {
  height: 30px;
  width: 30px;
  border: 0px solid black;
}
.winer {
  background-color: rgb(255, 2, 179);
}
.user {
  background-color: blue;
}
.log-left,
.log-right {
  background-color: lightblue;
}
.car-left,
.car-right {
  background-color: lightgray;
}

/* .car {
  background-color: black;
} */
.l1,
.l2,
.l3 {
  background-color: brown;
}

.r1,
.r2,
.r3 {
  background-color: brown;
}

.frog {
  background-color: green;
}
.c1 {
  background-color: black;
}
.l4 .l5 {
  background-color: lightblue;
}
.r4 .r5 {
  background-color: lightblue;
}
